@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html{
	scroll-behavior : smooth;
}

body{
	width:100vw;
	height :auto;
	background :#EADD89;
}


.branding{
  font-size:17px;
}

.showcase{
  background:url('/static/img/header.jpg') no-repeat;
  background-position:center;
  height: 660px;
  padding:140px 100px;
  color:#fff;
}

.showcase h1{
	font-family: ABeeZee;
  font-size:5vw;
  font-weight:700;
  text-transform: uppercase;
  color : black;
  width: 100%;
}

.showcase hr{
  width:100px;
  margin:auto;
  border-width:3px;
  border-color:#f44336;
}

.showcase p{
	font-family: ABeeZee;
	font-style : italic;
	margin-top : 80px;
  font-size:18px;
  padding-bottom:20px;
}

.showcase h2{
	font-family: ABeeZee;
	font-style : italic;
	margin-top : 50px;
	font-size:18px;
	padding-bottom:20px;
}

#logo {
	background : #EADD89;
	background-image : url('/static/img/logologi.png');
	background-repeat: no-repeat;
	background-position : center;
	height : 200px;
}

#kontak {
	background : #EADD89;
	background-position : center;
	height : 200px;
	justify-content : center;
	
}

#sekat {
	background : #EADD89;
	height : 100px;
	justify-content : center;
}

.section{
  background : #EADD89;
  padding:40px 0;
}

.image{
	margin-left :6vw;
	width:300px;
}

#profpic{
	height:25vw;
	width :25vw;
}

.image2{

}

.image3{
	width:700px;

}

#profpic4{
	height: 100%;
	margin-left : 12vw;
	margin-bottom : 4vw;
	margin-top : 4vw;
}

#profpic2{
	weight: 100%;
	margin-left : 8vw;
	margin-bottom : 4vw;
	height:20vw;
	width : 30vw
}

#profpic3{
	weight: 100%;
	margin-left : 8vw;
	margin-bottom : 4vw;
	margin-top : 3vw;
	height:20vw;
}

#profpic5{
	weight: 100%;
	margin-left : 8vw;
	margin-bottom : 4vw;
	margin-top : 3vw;
	height:20vw;
}

#profpic6{
	weight: 100%;
	margin-left : 8vw;
	margin-bottom : 4vw;
	height:300px;
}

.section h1{
	font-family: ABeeZee;
	margin-bottom : 100px;
	font-size : 3vw;
}

.section h5{
	font-family: Poppins;
	font-style : italic;
	font-size : 3vw;
	margin-bottom : 50px;
}

.section h2{
  padding:0;
  margin:0;
}

#bio h3{
	font-size :4vw;
}

#bio p{
	font-size :2vw;
	margin-bottom : 200px;
}

#exp h3{
	font-size :4vw;
}

#exp p{
	margin-left : 50px;
	margin-top : 100px;
	font-weight :bold;
	font-style : italic;
	font-size :3vw;
	margin-bottom : 200px;
}

.section .fa{
  font-size:50px;
}

.section img{
  width:100%;
}

@media only screen and (max-width:600px){
  body{
    margin-top:190px;
  }

  .showcase{
    height:400px;
    padding: 60px 0;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 3%;
}
