<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dana - Buat Schedule</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    body{background :#EADD89
    }

  </style>

  </head>
  <body>
    <!-- NAVIGATION -->
    <div class="w3-top">
      <div class="w3-bar w3-black">
        <span class="branding w3-bar-item w3-mobile">Fauzan Pradana</span>
        <span class="w3-right w3-mobile">
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="{% url 'homepage:index'%}">Home</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="{% url 'homepage:form' %}">Schedule</a>
        </span>
      </div>
    </div>

    {% load crispy_forms_tags %}
<section class="section">
  <div id = "sekat">
    <!-- <img src="img/logologi.png"> -->
  </div>
<div class="page pb-0">
    <div class="w3-container w3-center">
        <h2 class="header">Buat Schedule</h2>
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="row">
                <div class="w3-container w3-center">
                    {{ form.activity|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="w3-col m6">
                    <p>{{ form.category|as_crispy_field }}</p>
                </div>
                <div class="col-md-6">
                    {{ form.place|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.day|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.date|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</section>


  </body>
</html>
