<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dana - hapus Schedule</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    body{background :#EADD89
    }

  </style>

  </head>
  <body>
    <!-- NAVIGATION -->
    <div class="w3-top">
      <div class="w3-bar w3-black">
        <span class="branding w3-bar-item w3-mobile">Fauzan Pradana</span>
        <span class="w3-right w3-mobile">
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="{% url 'homepage:index'%}">Home</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="{% url 'homepage:form' %}">Schedule</a>
        </span>
      </div>
    </div>

    {% block content %}
    <div id = "sekat">
      <!-- <img src="img/logologi.png"> -->
    </div>
<div class="container content-font">
    <h2 class="header"> Are you sure you want to delete the following:</h2>
    <p>{{ object.activity }}</p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Yes, delete</button>
    </form>
</div>
{% endblock %}

</body>
</html>
