<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PPW Story 3</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- NAVIGATION -->
    <div class="w3-top">
      <div class="w3-bar w3-black">
        <span class="branding w3-bar-item w3-mobile">Fauzan Pradana</span>
        <span class="w3-right w3-mobile">
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="#about">About</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="#hobbies">Hobbies</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="#experience">Experience</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="#works">Works</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="#contact">Contact</a>
          <a class="w3-bar-item w3-button w3-mobile w3-hover-blue" href="{% url 'homepage:form' %}">Schedule</a>
        </span>
      </div>
    </div>

    <!-- SHOWCASE -->
    <section class="showcase">
      <div class="w3-container w3-center">
        <hh>
        <hh>
        <p class="w3-animate-opacity">Hi, I'm</p>
        <hr>
        <h1 class="w3-text-shadow w3-animate-opacity">Fauzan Pradana</h1>
        <hr>
        <h2 class="w3-animate-opacity">NPM : 1806205281</h2>

      </div>
    </section>

<div id = "logo">
  <!-- <img src="img/logologi.png"> -->
</div>

<!-- ABOUT -->
<section id="about" class="section">
  <div class="w3-container w3-center">
        <h1 class="w3-text-shadow">---------- Get to Know Me ----------</h1>
  </div>

  <div class="w3-container">
    <div class="w3-row-padding">
      <div class="w3-col m5">
        <div class="image">
          <img src="{% static 'img/fotoprofil.jpg' %}"class="w3-circle" alt="Alps" id="profpic">
        </div>
      </div>
      <div class="bio w3-col m7">
        <div id="bio" class="w3-container w3-show">
          <h3>3 Agustus 1999</h3>
          <p>Salam kenal, Panggil saja Dana. seorang Mahasiswa Ilmu Komputer yang sedang berusaha untuk mengembangkan diri</p>
        </div>
      </div>
    </div>
  </div>

  <!-- HOBBIES -->
  <section id="hobbies" class="section">
    <div class="w3-container w3-center">
          <h1 class="w3-text-shadow">---------- Some of My Hobbies ----------</h1>
    </div>

    <div class="w3-container">
      <div class="w3-row-padding">
        <div class="w3-col m5">
          <div class="image2">
            <img src="{% static 'img/bb.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
        </div>
      </div>
      <div class="bio w3-col m7">
        <div class="image2">
          <img src="{% static 'img/milan.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m5">
        <div class="image2">
          <img src="{% static 'img/vg.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
      </div>
    </div>
    <div class="bio w3-col m7">
      <div class="image2">
        <img src="{% static 'img/novel.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
      </div>
    </div>
  </div>
  </div>

  <div id = "sekat">
    <!-- <img src="img/logologi.png"> -->
  </div>


  <!-- EXPERIENCE -->
  <section id="experience" class="section">
    <div class="w3-container w3-center">
          <h1 class="w3-text-shadow">---------- Activities & Skills ----------</h1>
    </div>

    <div class="w3-container">
      <div class="w3-row-padding">
        <div class="w3-col m5">
          <div class="image2">
            <img src="{% static 'img/compfest.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
        </div>
      </div>
      <div class="exp w3-col m7">
        <div id="exp" class="w3-container w3-show">
          <h3> </h3>
          <p>Seminar Compfest</p>
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m5">
        <div class="image2">
          <img src="{% static 'img/humas.jpg' %}" class="w3-round-xlarge" alt="Norway" style="width:35vw" id="profpic2">
      </div>
    </div>
    <div class="exp w3-col m7">
      <div id="exp" class="w3-container w3-show">
        <h3> </h3>
        <p>Humas BEM Fasilkom</p>
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col s4">
      <div class = "image2">
      <img src="{% static 'img/piton.png' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic3">
      </div>
    </div>
    <div class="w3-col s4">
      <div class = "image2">
      <img src="{% static 'img/cpp.png' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic3">
    </div>
    </div>
    <div class="w3-col s4">
      <div class = "image2">
      <img src="{% static 'img/java.png' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic3">
    </div>
    </div>
  </div>

  </div>

  <div id = "sekat">
    <!-- <img src="img/logologi.png"> -->
  </div>

  <!-- CONTACT -->
  <section id="works" class="section">
    <div class="w3-container w3-center">
          <h1 class="w3-text-shadow">---------- Click My Works ! ----------</h1>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col s4">
        <div class = "image2">
        <a href="http://kekatastore.com/produk/jujur-atau-berani2" target="_blank"><img src="{% static 'img/juber.jpg' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic5"></a>
        </div>
      </div>
      <div class="w3-col s4">
        <div class = "image2">
        <a href="https://www.instagram.com/fpradana3/" target="_blank"><img src="{% static 'img/ig.jpg' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic5"></a>
      </div>
      </div>
      <div class="w3-col s4">
        <div class = "image2">
        <a href="https://www.wattpad.com/user/AceLatif" target="_blank"><img src="{% static 'img/cinta.jpg' %}" style="width:auto" class="w3-round-xlarge" alt="Norway" id="profpic5"></a>
      </div>
      </div>
    </div>

    <div id = "sekat">
      <!-- <img src="img/logologi.png"> -->
    </div>

    <!-- WORKS -->
    <section id="contact" class="section">
      <div class="w3-container w3-center">
            <h5 class="w3-text-shadow">Let’s get in touch!</h5>
      </div>

      <div id = "kontak" style="display : flex" >
        <a href="https://www.instagram.com/fpradana3/" target="_blank"><img src="{% static 'img/insta.png' %}" style="width :13vw"  class="center"></a>
        <a href="https://www.linkedin.com/in/fauzan-pradana-364906186/" target="_blank"><img src="{% static 'img/link.png' %}" style="width : 13vw" class="center"></a>
      </div>


</section>
  </body>
</html>
